@keyframes slideRight {
    from {
        opacity: 0;
        transform: scaleX(0);
        transform-origin: 0 0;
    }
    to {
        opacity: 1;
        transform: scaleX(1);
        transform-origin: 0 0;
    }
}

@keyframes fadeIn {
    form{opacity: 0;}
    to{opacity: 1;}
}